# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Build artifacts
build/
dist/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Excluding the union2.1 data
data/union2.1/*
!data/union2.1/.gitkeep
